body {
  font-family: "Lato", serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  text-align: center;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}


.light-mode {
  background-color: #EFEDE9;
  color: #292521;
}

.light-mode button {
  background-color: #D8334A;
  color: #EFEDE9;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.light-mode button:hover {
  background-color: #BF263C;
}

.light-mode input {
  background-color: #FFFFFF;
  color: #292521;
  border: 1px solid #D8334A;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

.light-mode label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}


.dark-mode {
  background-color: #292521;
  color: #EFEDE9;
}

.dark-mode button {
  background-color: #BF263C;
  color: #EFEDE9;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.dark-mode button:hover {
  background-color: #D8334A;
}

.dark-mode input {
  background-color: #444;
  color: #EFEDE9;
  border: 1px solid #BF263C;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

.dark-mode label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}


#errorMessage, #signupMessage, #resetMessage, #resetPasswordMessage {
  color: #D8334A;
  font-weight: bold;
  margin-top: 15px;
}


@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
